/**
 * FileName: app.css
 * 
 * @author Dinesh Palle
 * @date June 22, 2016
 * 
 * StudentID: 300705307
 * website: http://comp125-s2016-midterm-300705307.azurewebsites.net/
 * @description This is a Midterm of COMP 125. This file is the main css file for the web site
 */



/* custom syle sheet */

.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}